body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    background-color: #f5f6f8;
    .App {
        .routes-wrapper {
            width: 70%;
            margin-left: 15%;
            margin-left: 15%;
        }
    }
    .dull-text {
        color: gray;
        font-size: 12px;
    }
    dark-text {
        font-size: 14px;
    }
}
